*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    font-family: Arial, sans-serif;
    background-color: skyblue;
    background-repeat: no-repeat;
     width: 100vw;
    }

    #preview {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    gap: 2vw;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
     width: 100vw;
     margin: 4rem 0 4rem 0;
    }
    

